@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-black: #000;
  --color-black-100: #1b1a18;
  --color-grey: #777;
  --color-grey-100: #ccc;
  --color-grey-200: #f3f2f2;
  --color-grey-300: #c3bfbc;
  --color-grey-400: #79736d;
  --color-grey-500: #aaa;
  --spacing: 16px;
  --font-display: "Helvetica", "Arial", sans-serif;
  --font-weight-light: 300;
  --font-size: 16px;
  --font-height: 1.5;
}

body {
  font-weight: var(--font-weight-light);
  font-family: var(--font-display);
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
